@font-face {
  font-family: "Roboto";
  src: url(./fonts/Roboto/Roboto-Regular.ttf) format("truetype");
  font-weight: normal;
}

* {
  font-family: "roboto";
  font-size: 18px;
}

header {
  background-color: #14213D;
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 30px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.header-logo a {
  font-size: 24px;
  color: #f9faf8;
  text-decoration: none;
}

.nav-link,
a {
  gap: 20px;
  color: #f9faf8;
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
}

.main-header {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 70px;
}

.header-text {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.header-text p,
.header-image p {
  font-size: 18px;
  color: #e5e7eb;
}


.text-left1 {
  color: #fca311;
  font-size: 48px;
  font-weight: 900;
}

.text-left2 {
  color: #e5e7eb;
  font-size: 48px;
  font-weight: 900;
}

.header-image {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 70px;
}

button {
  color: white;
  background-color: #3882f6;
  border: 1px solid #3882f6;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  width: fit-content;
  padding: 2% 7%;
}

button:hover {
  cursor: pointer;
}

h2 {
  text-align: center;
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
}

.box-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 0;
  gap: 20px;
}

.box-info {
  display: flex;
  flex: 1;
  height: 517px;
  font-size: small;
  flex-direction: column;
  align-content: stretch;
  justify-content: flex-start;
  align-items: center;
}

h3 {
  color: #fca311;
  font-size: 25px;
  text-align: center;
}
.box-text {
  position: relative;
  flex: 1;
  justify-content: center;
  max-width: 250px;
  height: 300px;
  margin-top: 1px;
  text-align: center;
  margin-left: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  background: #e5e7eb;
}

.card p {
  text-align: center;
}

.quote-section {
  width: 100%;
  height: 400px;
  background-color: #e5e7eb;
  display: flex;
  align-items: center;
  margin: 50px auto;
}

.quote-text p {
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  color: #1f2937;
  margin: 0;
}

.quote-text {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.quote-section span {
  font-size: 20px;
  font-weight: 800;
}

.sign-up-div {
  width: 75%;
  background-color: #3882f6;
  margin: 70px auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid #3882f6;
  border-radius: 10px;
}

.sign-up-text {
  color: #e5e7eb;
  padding: 30px;
}

.sign-up-text h3 {
  margin-bottom: 0;
}

.sign-up-text p {
  margin-top: 0;
}

.sign-up-button {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign-up-button button {
  border: 1px solid white;
}

footer {
  width: 100%;
  height: 70px;
  background-color: #1f2937;
  color: #e5e7eb;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 920px) {
  nav {
    flex-direction: column;
    gap: 10px;
  }

  .nav-buttons {
    width: 100%;
    justify-content: center;
    gap: 10px;
    text-align: center;
  }

  .main-header {
    flex-direction: column;
    margin: auto;
    align-items: center;
  }

  .header-text {
    width: 100%;
  }

  h1 {
    font-size: 24px;
  }

  .header-text p,
  .header-image p {
    font-size: 16px;
  }

  .header-image {
    width: 100%;
    height: 200px;
    margin: 20px auto;
  }

  button {
    font-size: 16px;
  }

  h2 {
    font-size: 20px;
  }

  .main-cards {
    width: 100%;
    flex-wrap: wrap;
  }

  .card {
    width: 45%;
    height: 250px;
    margin: 20px 0;
  }

  .card img {
    height: 180px;
  }

  .quote-section {
    width: 100%;
    height: fit-content;
  }

  .quote-text {
    width: 80%;
    padding: 40px 0;
  }

  .quote-text p {
    font-size: 26px;
  }

  .sign-up-div {
    width: 90%;
    margin: 30px auto;
    flex-direction: column;
  }

  .sign-up-text {
    width: 80%;
    padding: 15px;
  }

  .sign-up-button {
    padding-bottom: 18px;
  }

  footer {
    height: 40px;
    font-size: 14px;
  }
}
